*.class
APDescription.txt
MTPs-Main-Container.txt
eclipseReadme.txt
exampleInputs.txt
readmeJade.txt
jadeCW/.classpath
compileJade.sh
runJade.sh
*~
jade/**
jadeCW_examples/**
readme/**	
jadeCW/bin/**
